<div id="events-content">
	<h2>Events</h2>

	<div class="wedding-info">
		<div class="vertical-center">
			<div class="event-name">
				<h3>THE WEDDING</h3>
				<p>Saturday Feb 28, 2014 at 3:00 pm</p>
			</div>
			<div class="event-loc">
				<h3>BOL CHURCH</h3>
				<p>
					123 Garnier St. Torrance, CA 90505<br>
					(310) 555-5555
				</p>
			</div>
		</div>
	</div>

	
	<div class="wedding-map-container map-container">
		<iframe id="wedding-map-canvas" 
			src="https://www.google.com/maps/embed/v1/
			place?key=AIzaSyAZTwMvu8Nnh5N-Qiv5sfd-QSr_ZxuU_JU
			&q=Bread+Of+Life+Church+Torrance
			&zoom=14"
			style="border:0"
			frameborder="0">
		</iframe>
	</div>

	<div class="reception-info">
		<div class="vertical-center">
			<div class="event-name">
				<h3>THE RECEPTION</h3>
				<p>Saturday Feb 28, 2014 at 5:30 pm</p>
			</div>
			<div class="event-loc">
				<h3>SOUTH END</h3>
				<p>
					4958 Sky Park Dr. Torrance, CA 90505<br>
					(310) 555-555
				</p>
			</div>
		</div>
	</div>
	<div class="reception-map-container map-container">
		<iframe id="reception-map-canvas" 
			src="https://www.google.com/maps/embed/v1/
			place?key=AIzaSyAZTwMvu8Nnh5N-Qiv5sfd-QSr_ZxuU_JU
			&q=South+End+Racquet+%26+Health+Club
			&zoom=14"
			style="border:0"
			frameborder="0">
		</iframe>
	</div>
</div>

