<div id="events-content" class="content">
	<h1>Events</h1>
	<div class="events-row">	
		<div class="event-desc event-top">
			<h2>The Wedding</h2>
			<p>Feb. 28th, 2015 at 2pm</p>
			<p>Bread of Life Church<br>
				2780 Lomita Blvd.<br>
				Torrance, CA 90505</p>
		</div>

		<div class="event-desc">
			<div id="events-map-container">
				<%= link_to "https://www.google.com/maps/dir/Bread+of+Life+Church,+Lomita+Boulevard,+Torrance,+CA/South+End+Racquet+%26+Health+Club,+2800+Skypark+Drive,+Torrance,+CA+90505/@33.8075265,-118.3396698,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x80dd4ae52de382a5:0x6bfa478a21c0ee7!2m2!1d-118.33673!2d33.809142!1m5!1m1!1s0x80dd4af756ed477b:0x5ab04183b324e22f!2m2!1d-118.338227!2d33.805252!3e0", target: "_blank" do %>
					<%= image_tag "events_map_stars.png" %>
				<% end %>
			</div>
		</div>

		<div class="event-desc event-bottom">
			<h2>The Reception</h2>
			<p>Feb. 28th, 2015 at 5pm</p>
			<p>South End Racquet Club<br>
				2800 Skypark Drive<br>
				Torrance, CA 90505</p>
		</div>
	</div>
</div>

