<div id="main-container">	
	<div id="home-content" class="content">
		<div id="homey">
			<%= image_tag "stars_top.png", class: "stars-top" %>
			<div id="home-text">
				<h1>jessica & zak</h1>
				<h2>Est. Feb 28, 2015</h2>
			</div>
		</div>
	</div>
</div>
