<div id="main-container">
	<div id="registry-content" class="content">
		<div id="registry-header">
			<%= image_tag "stars_top.png" %>
			<h1>Registry</h1>
		</div>
		<%= image_tag "amazon_logo.png" %>
		<%= image_tag "bed_bath_and_beyond_logo.png" %>
	</div>
</div>
