<div id="main-container">
	<div id="registry-content" class="content">
		<div id="registry-header">
			<%= image_tag "stars_top.png" %>
			<h1>Registry</h1>
		</div>

		<div id="registry-links-container">
			<%= link_to image_tag("amazon_logo.png"), 
				"http://www.amazon.com/registry/wedding/2EPQRUOOH4E1C", 
				class: "reg-link", target: "_blank"	%>
			<div class="reg-link-mid"></div>
			<%= link_to image_tag("bed_bath_and_beyond_logo.png"), 
				"http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541706789&eventType=Wedding", class: "reg-link", target: "_blank" %>
			<div class="reg-link-mid"></div>
			<%= link_to image_tag("anthropologie_logo.png"), 
				"https://www.anthropologie.com/anthro/registry/listing/YWY2MGZJMJC2.jsp", 
				class: "reg-link", target: "_blank" %>
		</div>
		<div id="reg-text">
			<h2>We gratefully accept gift cards and cash as well!</h2>
		</div>
	</div>
</div>
