<div id="main-container">
	<div id="registry-content" class="content">
		<div id="registry-title-text" class="content-title-text">
			<div class="overlay dark">
				<h1>Registry</h1>
			</div>
		</div>	
	</div>
</div>
