<div id="main-container">
	<div id="registry-content" class="content">
		<div id="registry-header">
			<%= image_tag "stars_top.png" %>
			<h1>Registry</h1>
		</div>

		<div id="registry-links-container">
			<%= link_to image_tag("amazon_logo.png"), "http://www.amazon.com", 
				class: "reg-link", target: "_blank"	%>
			<div class="reg-link-mid"></div>
			<%= link_to image_tag("bed_bath_and_beyond_logo.png"), 
				"http://www.bedbathandbeyond.com", class: "reg-link", target: "_blank" %>
			<div class="reg-link-mid"></div>
			<%= link_to image_tag("anthropologie_logo.png"), 
				"https://www.anthropologie.com/anthro/registry/listing/YWY2MGZJMJC2.jsp", 
				class: "reg-link", target: "_blank" %>
		</div>
	</div>
</div>
