<div id="main-container" class="main-story">
	<div id="stories-content-container" class="content">
		<div id="stories-content">
			<h1>The Story</h1>
			<div id="story-tabs-container">
				<div id="his-tab" class="story-nav-tab">
					<a href="#his-text" class="story-tab-text trigger">
						<p>His<br>Story</p>
					</a>
				</div>

				<div id="her-tab" class="story-nav-tab">
					<a href="#her-text" class="story-tab-text trigger">
						<p>Her<br>Story</p>
					</a>
				</div>

				<div id="back-tab" class="story-nav-tab">
					<a href="#back-text" class="story-tab-text trigger">
						<p>Back<br>Story</p>
					</a>
				</div>

				<div id="proposal-tab" class="story-nav-tab">
					<a href="#proposal-text" class="story-tab-text trigger">
						<p>The<br>Proposal</p>
					</a>
				</div>
			</div>

			<div id="her-text" class="story-text-container">
				<div id="her-story" class="story-textt">
					<h2>Her Story</h2>
					<p>
						Once upon a time, God allowed Jessica to meet Zak during their 
						freshman year of college. She was waiting at a bus stop and was 
						startled to find that he already knew her... until she realized 
						they had been classmates in the third grade! 
					</p>
					<p>
						They became acquaintances, then friends during 
						college. She got to know him better after college and began to 
						notice various things about him: his quick willingness to serve 
						others, his kindness,	and his uncanny ability to handle corny jokes. 
					</p>
					<p>
						Fast forward a few months, and that "noticing" turned into liking 
						and appreciating Zak very much, heh. And praise God, He answered 
						Jessica's prayers and gave Zak the courage to ask her to date 
						towards marriage.
					</p>
				</div>
			</div>

			<div id="back-text" class="story-text-container">
				<div id="back-story" class="story-textk">
					<h2>Back Story</h2>
					<p>
						Zak asked Jessica to date at the end of a road trip from 
						So Cal to Nor Cal. At the freeway exit before her apartment, 
						he asked if she had a few minutes to talk. She said yes, and 
						thus began a few interesting minutes as the Denny's he 
						planned to go to didn't work out, and the Starbucks he 
						circled around to find was elusive to his distracted attention. 
					</p>
					<p>
						Jessica suggested they talk back near her house, and he ended 
						up asking her to consider dating him as they walked around. 
						She said yes on the way, and sat down at a bus stop on the 
						corner to ponder this turn of events. 
					</p>
				</div>
			</div>


			<div id="proposal-text" class="story-text-container">
				<div id="proposal-story" class="story-textt">
					<h2>The Proposal</h2>
					<p>
						Is actually quite similar to the backstory. On another drive 
						up to Nor Cal, Zak woke Jessica up at the freeway exit and 
						nonchalantly asked, "Hey, do you have a few minutes to talk?" 
						She went along with it and said yes. 
					</p>
					<p>
						To her surprise, he drove to the familiar landmarks of Denny's,
						Starbucks, and her house.	They walked to the street corner and 
						ended up at the bus stop. Jessica tried to remember which spot 
						she had sat	in, and pointed to the area on her right, saying to 
						Zak, "Hey, I think this is where you were sitting." He looked at 
						her and said, "Was I sitting over there? Or... was I sitting 
						over here," at which point he got down on one knee and asked 
						a question that led to the event of you all invited to witness 
						the covenant they will make before God and before you!
					</p>
				</div>
			</div>
			
			<div id="his-text" class="story-text-container">
				<div id="his-story">
					<h2>His Story</h2>
						<p>	
						Zak met Jessica during freshman year of college.
						When he first met her, she was not a Christian, but over 
						the course of sophomore year, God saved her and changed her 
						heart. Zak found that encouraging, and he kept it in
						the back of his mind that she was a godly, attractive sister.
					</p>
					<p>
						Jessica and Zak were friends in college, but didn't spend much
						time together until after graduating. They got to know
						each other better while running and eating Krispy Kreme
						together frequently (don't worry, not simultaneously) with
					 	friends. 
						</p>
					<p>
						Zak realized he really liked Jessica, and after praying and
						consulting people wiser than himself, he finally decided it was
						time to ask her out (and soon after, propose). You can read
						about that a few tabs over!
					</p>
				</div>
			</div>

		</div>

	</div>
</div>
