<div id="stories-content">
	<%= image_tag "chalkboard_half.jpg", alt: "chalkboard", width: "400" %>
	<div class="float-right">
		<h2>Our Story...</h2>
		<h3>Hers</h3>
		<p>
			This is Jessica's story. It's really cute and probably longer than Zak's. Jessica
			(technically) first met Zak in elementary school, where they shared classes from
			Kindergarten to 5th grade. It's a wonder that she didn't recognize him years later
			in college.<br><br>

			This is the second paragraph of Jessica's story. It should have a line break and
			start a new paragraph. Anyways, this is almost the end of Jessica's story. Just
			a few more lines, don't worry. Jessica thought Zak was a lazy bum until junior
			year of college, when he caught her eye for the first time.<br><br>

			Just in case you're wondering, this is part story, part placeholder text. Which is
			why it's so weird. Wow, there's a third paragraph! Cool, who woulda thought that 
			this would be such a riveting story.
			</p>
		<h3>His</h3>
		<p>
			Zak's story is probably a little bit shorter. It might just be two paragraphs.
			And they might be short paragraphs. He's a little bit less than verbose most
			of the time. But he really, really, really likes Jessica. Like, really.<br><br>

			Here's that second paragraph, just as advertised. This is probably where he'll
			talk about how he asked Jessica out. I'm sure it'll be super cute. I'm certain
			it'll be super cute.
		</p>
	</div>
</div>
