<div id="main-container" class="main-story">
	<div id="stories-content-container" class="content">
		<div id="stories-content">
			<h1>The Story</h1>
			<div id="story-text-container">
				<div class="overlay med-dark-black">
					<p>
						Once upon a time, God allowed Jessica to meet Zak during their 
						freshman year of college. She was waiting at a bus stop and was 
						startled to find that he already knew her... until she realized 
						they had been classmates in the third grade! 
						<br><br>
						They slowly became acquaintances, and then friends throughout 
						college. She got to know him better after college and began to 
						notice various things about him: his quick willingness to serve 
						others, his kindness,	and his uncanny ability to handle corny jokes. 
						<br><br>
						Fast forward a few months, and that "noticing" turned into liking 
						and appreciating Zak very much, heh. And praise God, He answered 
						Jessica's prayers and gave Zak the courage to ask her to date 
						towards marriage.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
