/*
@import "bootstrap-sprockets";
@import "bootstrap";
*/

/*=====================================
fonts, mixins, variables
======================================*/


@font-face {
  font-family:          montserrat;
  src:                  font-url('Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:          montserrat;
  src:                  font-url('Montserrat/Montserrat-Bold.ttf');
  font-weight:          bold;
}

@font-face {
  font-family:          chelsea-market;
  src:                  font-url('ChelseaMarket-Regular.ttf');
}

@font-face {
  font-family:          aaargh;
  src:                  font-url('Aaargh.ttf');
}

@font-face {
  font-family:          folks;
  src:                  font-url('Folks/Folks-Normal.ttf');
}

@font-face {
  font-family:          cabin;
  src:                  font-url('Cabin/Cabin-Regular.otf');
}

@font-face {
	font-family:					open-sans;
	src:									font-url('open-sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family:					enriqueta;
	src:									font-url('Enriqueta/Enriqueta-Regular.otf');
}

@font-face {
	font-family:					east-coast-stationery;	
	src:									font-url('East-Coast-Stationery.ttf');
}

@font-face {
	font-family:					always-in-my-heart;
	src:									font-url('Always_In_My_Heart.ttf');
}

@font-face {
	font-family:					jacques-and-gilles;
	src:									font-url('Jacques-and-Gilles.otf');
}

@font-face {
	font-family:					linowrite;
	src:									font-url('linowrite.ttf');
}

@font-face {
	font-family:					valentina;
	src:									font-url('Valentina-Regular.otf');
}

@font-face {
	font-family:					chunkfive;
	src:									font-url('Chunkfive.otf');
}

@font-face {
	font-family:					arvo;
	src:									font-url('Arvo/Arvo-Regular.ttf');
}

@font-face {
	font-family:					typo;
	src:									font-url('Typo-Light.ttf');
}

@font-face {
	font-family:					big-john;
	src:									font-url('Big_John-Slim_Joe/BIG_JOHN.otf');
}


@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

$amber: 								#ffb300;
$dark-blue:							#375188;
$dark-slate-blue:				#4e3dbd;
$darker-blue:						#223254;
$dropbox-blue:					#007ee5;
$lavender:							#c4a2be;
$dark-lavender:					#ab95bb;
$dark-purple:						#562f7e;
$taupe:									#b38b6d;
$lightpink:							#f1c2b0;
$khaki:									#f7e05c;
$gainsboro:							#e8e3dd;
$silver:								#c7c7c7;
$light-salmon:					#fda88b;
$cornsilk:							#fff8dc;
$linen:									#faf0e6;
$burlywood:							#f7bd8d;
$midnight:							#04264d;
$midnight-blue:					#2f3663;
$navy:									#37407A;
$blush:									#ebc6b3;
$goldenrod:							#daa520;

$blizzard-texture: 			url(http://www.transparenttextures.com/patterns/blizzard.png);
$dimension-texture:			url(http://www.transparenttextures.com/patterns/dimension.png);
$flowers-texture:				url(http://www.transparenttextures.com/patterns/wild-flowers.png);
$otis-redding-texture:	url(http://www.transparenttextures.com/patterns/otis-redding.png);
$snow-texture:					url(http://www.transparenttextures.com/patterns/snow.png);



* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-width: 1200px;
	height: 800px;
}

#main-container {
	position: relative;
	height: 680px;
}

#home-content {
	position: relative;
	height: 100%;
	//background-image: image-url('otis-redding.png');
	//background-image: image-url('top_of_garden.jpg');
	background-size: cover;
	text-align: center;
}


.overlay {
	position: relative;
	width: 100%;
	height: 100%;
}

.solid-navy {
	background-color: rgba($navy, 1);
}

.med-dark-navy {
	background-color: rgba($navy, 0.5);
}

.dark-navy {
	background-color: rgba($navy, 0.8);
}

#home-text {
	position: relative;
	top: 80px;
	text-align: center;
	color: $burlywood;
	//width: 700px;
	//margin: 0 auto;
	//@include vertical-center;

	h1 {
		font-family: jacques-and-gilles;
		font-size: 6em;
	}

	h2 {
		font-family: typo;
		font-size: 2.5em;
		margin-top: 60px;
	}
}


#nav {
	background-image: $snow-texture;
	background-color: $linen;
	text-align: center;
}

#tabs-container {
	padding: 100px 0;
}

.image {
	display: block;
	//background: $lavender image-url('otis-redding.png');
	width: 310px;
	height: 195px;
	margin: 0 0 0 0;
	position: relative;
	transition: transform 0.2s ease;
	//border: 2px solid white;
}

.story {
	background-image: image-url('story_tab.png');
}

.home {
	background-image: image-url('home_tab.png');
}

.people {
	background-image: image-url('people_tab.png');
}

.events {
	background-image: image-url('events_tab.png');
}

.registry {
	background-image: image-url('registry_tab.png');
}

.rsvp {
	background-image: image-url('rsvp_tab.png');
}

.tab {
	padding: 10px 5px;
	display: inline-block;

	&:hover .image {
		transform: translateY(-10px);
	}
}


//-----------------------
//- Stories
//-----------------------

#stories-content {
	text-align: center;
}

#stories-title-text {
	position: relative;
	width: 300px;
	border: dashed 2px white;
	margin: 0 auto;
	@include vertical-center;
	clear: both;

	h1 {
		padding: 30px 0 50px 0;
		line-height: 80%;
	}
}

.story-container {
	position: relative;
	float: left;
	width: 35%;
	padding: 0 7%;
	color: white;

	p {
		font-family: enriqueta;
		font-size: 110%;
	}
}

.left {
	border-right: dashed white 2px;
}

.cursive {
	font-family: always-in-my-heart;
	font-size: 70%;
	line-height: 70%;
}


.content {
	position: relative;
	height: 100%;
	background-color: $navy;
	//background-image: image-url('otis-redding.png');
}

.content-title-text {
	position: relative;
	width: 300px;
	border: dashed 2px white;
	margin: 0 auto;
	@include vertical-center;
}

#people-content {

}

.rsvp-form {
	position: relative;
}

.rsvp-form  {
	width: 760px;
	height: 620px;
	display: block;
	margin: 0 auto !important;
	@include vertical-center;
}


//==============
// Wedding Party
//==============

#people-content {

	h1 {
		position: relative;
		font-family: jacques-and-gilles;
		font-size: 4em;
		color: $burlywood;
		text-align: center;
		padding-top: 20px;
	}
}

#people-container {
	width: 1120px;
	margin: 60px auto 0 auto;

	.keith {
		background-image: image-url('keith.png');
	}
}	

.people-row {
	margin: 30px 0;
}

.person {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 50% 50%;
	//border: dashed 2px white;
	box-shadow: 0 0 2px 2px white;
	margin: 0 20px;
	transition: transform 0.2s ease;

	&:hover {
		transform: translateY(-5px);
	}

}

.overlay-hover {
	background-color: rgba(black, 0.4);
	color: white;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50% 50%;
	opacity: 0;	
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 1;
	}

	.overlay-title {
		text-align: center;
		@include vertical-center;
		font-family: big-john;
	}
}







#footer {
	background: $navy image-url('otis-redding.png');
	height: 100px;
}


