/*
@import "bootstrap-sprockets";
@import "bootstrap";
*/

/*=====================================
fonts, mixins, variables
======================================*/


@font-face {
  font-family:          montserrat;
  src:                  font-url('Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:          montserrat;
  src:                  font-url('Montserrat/Montserrat-Bold.ttf');
  font-weight:          bold;
}

@font-face {
  font-family:          chelsea-market;
  src:                  font-url('ChelseaMarket-Regular.ttf');
}

@font-face {
  font-family:          aaargh;
  src:                  font-url('Aaargh.ttf');
}

@font-face {
  font-family:          folks;
  src:                  font-url('Folks/Folks-Normal.ttf');
}

@font-face {
  font-family:          cabin;
  src:                  font-url('Cabin/Cabin-Regular.otf');
}

@font-face {
	font-family:					open-sans;
	src:									font-url('open-sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family:					enriqueta;
	src:									font-url('Enriqueta/Enriqueta-Regular.otf');
}

@font-face {
	font-family:					east-coast-stationery;	
	src:									font-url('East-Coast-Stationery.ttf');
}

@font-face {
	font-family:					always-in-my-heart;
	src:									font-url('Always_In_My_Heart.ttf');
}

@font-face {
	font-family:					jacques-and-gilles;
	src:									font-url('Jacques-and-Gilles.otf');
}

@font-face {
	font-family:					linowrite;
	src:									font-url('linowrite.ttf');
}

@font-face {
	font-family:					valentina;
	src:									font-url('Valentina-Regular.otf');
}

@font-face {
	font-family:					chunkfive;
	src:									font-url('Chunkfive.otf');
}

@font-face {
	font-family:					arvo;
	src:									font-url('Arvo/Arvo-Regular.ttf');
}

@font-face {
	font-family:					typo;
	src:									font-url('Typo-Light.ttf');
}

@font-face {
	font-family:					big-john;
	src:									font-url('Big_John-Slim_Joe/BIG_JOHN.otf');
}

@font-face {
	font-family:					slim-joe;
	src:									font-url('Big_John-Slim_Joe/Slim_Joe.otf');
}

@font-face {
	font-family:					brandon-grotesque;
	src:									font-url('Brandon_Complete/Brandon_reg.otf');
}

@font-face {
	font-family:					brandon-grotesque;
	src:									font-url('Brandon_Complete/Brandon_light.otf');
	font-weight:					light;
}

@font-face {
	font-family:					carolyna-pro;
	src:									font-url('CarolynaPro.otf');
}

@font-face {
	font-family:					znikomit;
	src:									font-url('Znikomit.otf');
}

@font-face {
	font-family:					roboto-slab;
	src:									font-url('roboto-slab/RobotoSlab-Regular.ttf');
}


@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

$amber: 								#ffb300;
$dark-blue:							#375188;
$dark-slate-blue:				#4e3dbd;
$darker-blue:						#223254;
$dropbox-blue:					#007ee5;
$lavender:							#c4a2be;
$dark-lavender:					#ab95bb;
$dark-purple:						#562f7e;
$taupe:									#b38b6d;
$lightpink:							#f1c2b0;
$khaki:									#f7e05c;
$gainsboro:							#e8e3dd;
$silver:								#c7c7c7;
$light-salmon:					#fda88b;
$cornsilk:							#fff8dc;
$linen:									#faf0e6;
$burlywood:							#f7bd8d;
$midnight:							#04264d;
$midnight-blue:					#2f3663;
$navy:									#37407A;
$light-navy:						#535C92;
$blush:									#ebc6b3;
//$goldenrod:							#daa520;
$goldenrod:							#e6b830;
$gray:									#bbbbbb;

$blizzard-texture: 			url(http://www.transparenttextures.com/patterns/blizzard.png);
$dimension-texture:			url(http://www.transparenttextures.com/patterns/dimension.png);
$flowers-texture:				url(http://www.transparenttextures.com/patterns/wild-flowers.png);
$otis-redding-texture:	url(http://www.transparenttextures.com/patterns/otis-redding.png);
$snow-texture:					url(http://www.transparenttextures.com/patterns/snow.png);



* {
	margin: 0;
	padding: 0;
//	-webkit-font-smoothing: antialiased;
}

body {
	position: relative;
	min-width: 1200px;
	height: 700px;
}

#main-container {
	position: relative;
	height: 700px;
	border-bottom: $gray solid 6px;
}

#home-content {
	position: relative;
	height: 100%;
	//background-image: image-url('otis-redding.png');
	//background-image: image-url('top_of_garden.jpg');
	background-size: cover;
	text-align: center;
}


.overlay {
	position: relative;
	width: 100%;
	height: 100%;
}

.solid-navy {
	background-color: rgba($navy, 1);
}

.med-dark-navy {
	background-color: rgba($navy, 0.5);
}

.dark-navy {
	background-color: rgba($navy, 0.8);
}

.med-dark-black {
	background-color: rgba(black, 0.5);
}


#home-text {
	position: relative;
	top: 100px;
	text-align: center;
	color: $burlywood;

	h1 {
		font-family: jacques-and-gilles;
		font-size: 6em;
	}

	h2 {
		font-family: znikomit;
		font-size: 2.5em;
		margin-top: 60px;
		color: $linen;
	}
}



#nav {
	background-image: $snow-texture;
	background-color: $linen;
	text-align: center;
}

#tabs-container {
	padding: 100px 0;
}

.image {
	display: block;
	//background: $lavender image-url('otis-redding.png');
	width: 315px;
	height: 195px;
	margin: 0 0 0 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	transition: transform 0.2s ease;
	//border: 2px solid white;
}

.story-tab {
	background-image: image-url('story_tab.png');
}

.home-tab {
	background-image: image-url('home_tab.png');
}

.people-tab {
	background-image: image-url('people_tab.png');
}

.events-tab {
	background-image: image-url('events_tab.png');
}

.registry-tab {
	background-image: image-url('registry_tab.png');
}

.rsvp-tab {
	background-image: image-url('rsvp_tab.png');
}

.tab {
	padding: 10px 5px;
	display: inline-block;

	&:hover .image {
		transform: translateY(-10px);
	}
}


//=======================
// Stories
//=======================

.main-story {
	background-image: image-url('top_of_garden.jpg');
	background-size: cover;
}

#stories-content {
	position: relative;
	display: block;
	width: 1150px;
	height: 639px;
	margin: 0 auto;
	text-align: center;
	background-image: image-url('top_of_garden_copy_2.jpg');
	background-size: cover;
	@include vertical-center;
	border: $gray solid 2px;
	//box-shadow: 6px 6px 5px #1c1c1c;

	h1 {
		position: relative;
		right: 90px;
		font-family: jacques-and-gilles;
		font-size: 4em;
		color: white;
	}
}

#story-tabs-container {
	position: absolute;
	display: block;
	right: 20px;
	bottom: 515px;

	height: 60px;
	width: 455px;
}

.story-nav-tab {
	position: absolute;
	display: inline-block;
	height: 100%;
	top: 0px;
	background-color: $light-navy;
	text-align: center;
	border: $gray solid 2px;
	border-radius: 5px;
	//box-shadow: 5px 5px 5px #1c1c1c;
	@include vertical-center;
	-webkit-transition: all 200ms ease;
	transition: transform 200ms ease;

	&:hover {
		-webkit-transform: translateY(-37px);
		transform: translateY(-37px);
		//box-shadow: 5px 5px 5px #1c1c1c;
	}
}

.story-tab-text {
	color: white;
	text-decoration: none;
	font-family: znikomit;
	height: 100%;
	width: 100%;

	p {
		font-size: 1.2em;
		@include vertical-center;
	}
}


#his-tab {
	margin-right: 5px;
}

#her-tab, #back-tab {
	margin: 0 5px;
}

#his-tab, #her-tab, #back-tab {
	width: 19%;
}

#proposal-tab {
	margin-left: 5px;
	width: 25%;
}


.trigger {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.story-text-container {
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: block;
	height: 438px;
	width: 391px;
	padding: 20px 30px;
	text-align: center;
	color: white;
	background-color: $light-navy;
	border: $gray solid 2px;
	border-radius: 5px;


	h2 {
		font-family: znikomit;
	}

	p {
		line-height: 1.3em;
		font-size: 115%;
		font-family: brandon-grotesque;
		font-weight: light;
		padding-top: 17px;
	}
	//background-image: image-url('stories_background.png');
	//box-shadow: 6px 6px 5px #1c1c1c;
	//background-color: transparent;
	//box-shadow: inset 6px 6px 5px #1c1c1c;
	//border-radius: 5px;
	//background-position: center center;
	//background-repeat: no-repeat;
}

.story-text {
	position: absolute;
	padding: 20px 30px;
	text-align: center;
	width: 85%;

	h2 {
		font-family: znikomit;
	}

	p {
		line-height: 1.3em;
		font-size: 115%;
		font-family: brandon-grotesque;
		font-weight: light;
		padding-top: 17px;
	}
}


#his-text:target, #her-text:target, #back-text:target, #proposal-text:target {
	z-index: 1;
}

//=======================
// Content
//=======================


.content {
	position: relative;
	height: 100%;
	background-color: $navy;
	//background-image: image-url('otis-redding.png');
}

.content-title-text {
	position: relative;
	width: 300px;
	border: dashed 2px white;
	margin: 0 auto;
	@include vertical-center;
}




//=====================
// RSVP
//=====================


.rsvp-content {
	height: 870px !important;
}


.rsvp-form {
	position: relative;
}

.rsvp-form  {
	position: relative;
	width: 650px;
	height: 850px;
	display: block;
	margin: 0 auto !important;
	//@include vertical-center;
}




//====================
// Wedding Party
//====================

#people-content {

	h1 {
		position: relative;
		font-family: jacques-and-gilles;
		font-size: 4em;
		color: $burlywood;
		text-align: center;
		padding-top: 20px;
	}
}

#people-container {
	width: 1120px;
	margin: 60px auto 0 auto;

	.keith {
		background-image: image-url('keith.png');
	}
}	

.people-row {
	margin: 30px 0;
}

.person {
	position: relative;
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 50% 50%;
	//border: dashed 2px white;
	box-shadow: 0 0 2px 2px white;
	margin: 0 20px;
	transition: transform 0.2s ease;

	&:hover {
		-webkit-transform:translateY(-5px);
		transform: translateY(-5px);
	}

}

.overlay-hover {
	background-color: rgba(black, 0.6);
	color: $linen;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50% 50%;
	opacity: 0;	
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 1;
	}

	.overlay-title {
		text-align: center;
		@include vertical-center;
		font-family: znikomit;
	}
}


//===================
// Events
// ==================

#events-content {
	
	h1 {
		position: relative;
		font-family: jacques-and-gilles;
		font-size: 4em;
		color: $burlywood;
		text-align: center;
		padding-top: 20px;
	}
}

.events-row {
	display: block;
	position: relative;
	max-width: 1600px;
	height: 404px;
	top: 70px;
	margin: 0 auto;
}

.event-desc {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	height: 100%;
	width: 33%;
	color: $linen;

	h2 {
		font-family: jacques-and-gilles;
		font-size: 2.5em;
		color: $burlywood;
		padding-bottom: 20px;
	}

	p {
		font-size: 1.5em;
		font-family: znikomit;
		padding-bottom: 20px;
		line-height: 1.2em;
	}
}

.event-text {
	position: relative;
}

.event-mid {
	top: 60px;
}

.event-left {
	left: 30px;
}

.event-right {
	right: 0px;
}



#events-map-container {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 332px;
	height: 400px;
	margin: 0 34px; 
	border-radius: 50% 50%;


	img {
		position: relative;
		-webkit-transition: -webkit-transform 0.2s ease;
		transition: transform 0.2s ease;
		
		&:hover {
			-webkit-transform: scale(1.05, 1.05);
			transform: scale(1.05,1.05);
		}
	}
}


//===================
// Registry
//===================

#registry-header {
	text-align: center;
	font-family: jacques-and-gilles;

	h1 {
		position: relative;
		font-size: 4em;
		color: $burlywood;
		top: 50px;
	}
}



//===================
// Footer
//===================


#footer {
	background-color: $navy;
	border-top: $gray solid 6px;
	//background-image: image-url('otis-redding.png');
	height: 35px;
}


