/*
@import "bootstrap-sprockets";
@import "bootstrap";
*/

/*=====================================
fonts, mixins, variables
======================================*/


@font-face {
  font-family:          montserrat;
  src:                  font-url('Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family:          montserrat;
  src:                  font-url('Montserrat/Montserrat-Bold.ttf');
  font-weight:          bold;
}

@font-face {
  font-family:          chelsea-market;
  src:                  font-url('ChelseaMarket-Regular.ttf');
}

@font-face {
  font-family:          aaargh;
  src:                  font-url('Aaargh.ttf');
}

@font-face {
  font-family:          folks;
  src:                  font-url('Folks/Folks-Normal.ttf');
}

@font-face {
  font-family:          cabin;
  src:                  font-url('Cabin/Cabin-Regular.otf');
}

@font-face {
	font-family:					open-sans;
	src:									font-url('open-sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family:					enriqueta;
	src:									font-url('Enriqueta/Enriqueta-Regular.otf');
}

@font-face {
	font-family:					east-coast-stationery;	
	src:									font-url('East-Coast-Stationery.ttf');
}

@font-face {
	font-family:					always-in-my-heart;
	src:									font-url('Always_In_My_Heart.ttf');
}

@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

$amber: 								#ffb300;
$dark-blue:							#375188;
$dark-slate-blue:				#4e3dbd;
$darker-blue:						#223254;
$dropbox-blue:					#007ee5;
$lavender:							#c4a2be;
$dark-lavender:					#ab95bb;
$dark-purple:						#562f7e;
$taupe:									#b38b6d;
$lightpink:							#f1c2b0;
$khaki:									#f7e05c;
$gainsboro:							#e8e3dd;
$silver:								#c7c7c7;
$light-salmon:					#fda88b;

$blizzard-texture: 			url(http://www.transparenttextures.com/patterns/blizzard.png);
$dimension-texture:			url(http://www.transparenttextures.com/patterns/dimension.png);
$flowers-texture:				url(http://www.transparenttextures.com/patterns/wild-flowers.png);
$otis-redding-texture:	url(http://www.transparenttextures.com/patterns/otis-redding.png);
$snow-texture:					url(http://www.transparenttextures.com/patterns/snow.png);



* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-width: 1200px;
	height: 800px;
}

#main-container {
	position: relative;
	height: 680px;
}

#home-content {
	position: relative;
	height: 100%;
	//background-image: image-url('otis-redding.png');
	background-image: image-url('goofy_engagement_sepia.jpg');
	background-size: cover;
	background-color: $khaki;
	text-align: center;
}

.overlay {
	position: relative;
	width: 100%;
	height: 100%;
}

.med-dark {
	background-color: rgba(black, 0.1);
}

.dark {
	background-color: rgba($dark-purple, 0.6);
}

#home-text {
	position: relative;
	width: 300px;
	border: dashed white 2px;
	margin: 0 auto;
	@include vertical-center;
}

h1 {
	font-family: east-coast-stationery;
	color: white;
	font-size: 5em;
}

#nav {
	background-image: $snow-texture;
	background-color: $gainsboro;
	text-align: center;
}

#tabs-container {
	padding: 100px 0;
}

.image {
	display: block;
	//background: $lavender image-url('otis-redding.png');
	width: 310px;
	height: 195px;
	margin: 0 0 0 0;
	position: relative;
	transition: transform 0.2s ease;
	//border: 2px solid white;
}

.story {
	background-image: image-url('story_tab.png');
}

.home {
	background-image: image-url('home_tab.png');
}

.people {
	background-image: image-url('people_tab.png');
}

.events {
	border: dashed 2px white;
}

.registry {
	border: dashed 2px white;
}

.rsvp {
	background-image: image-url('rsvp_tab.png');
}

.tab {
	padding: 10px 5px;
	display: inline-block;

	&:hover .image {
		transform: translateY(-10px);
	}
}
/*
.tab:hover .image {
	transform: translateY(-10px);
}
	*/


//-----------------------
//- Stories
//-----------------------

#stories-content {
	text-align: center;
}

#stories-title-text {
	position: relative;
	width: 300px;
	border: dashed 2px white;
	margin: 0 auto;
	@include vertical-center;
	clear: both;

	h1 {
		padding: 30px 0 50px 0;
		line-height: 80%;
	}
}

.story-container {
	position: relative;
	float: left;
	width: 35%;
	padding: 0 7%;
	color: white;

	p {
		font-family: enriqueta;
		font-size: 110%;
	}
}

.left {
	border-right: dashed white 2px;
}

.cursive {
	font-family: always-in-my-heart;
	font-size: 70%;
	line-height: 70%;
}


.content {
	position: relative;
	height: 100%;
	background-color: $lavender;
	background-image: image-url('otis-redding.png');
}

.content-title-text {
	position: relative;
	width: 300px;
	border: dashed 2px white;
	margin: 0 auto;
	@include vertical-center;
}

#people-content {

}















#footer {
	background: $silver image-url('otis-redding.png');
	height: 100px;
}


